vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Text Editor and IDE
.idea/
.vscode/

*.bak
composer
.php_cs.cache

/public/hot
/public/storage
/public/dist
/storage/*.key
/.vagrant
npm-debug.log
mix-manifest.json
