

.navbar-default {
    background-color: #222;
    border-color: #222;
}
.navbar-default .navbar-brand {
    font-weight: bold;
    color: white;
}
.navbar {
    margin-bottom: 0px !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #222222;
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #222222;
    color: #fff;
}
.dropdown-toggle {
    color: white;
}
.dropdown-menu>li>a {
    color: white;
}
.dropdown-menu{
    background-color: #222;
    color: white;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: white;
}
.image-bg-fluid-height {
    background: url(../img/home-hero.jpg) no-repeat center center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../img/home-hero.jpg);
    background-size:100%;
    padding: 50px 0 100px 0;
}
.home-title-header{
    text-align: center;
    color: white;
    font-weight: bold;
}
.center {
    text-align: center;
}
.header-button-account {
    margin: 50px 0;
}
.img-homepgae {
    margin: 20px 0px;;
}

#footer {
    padding: 20px 0 30px 0;
    font-size: 11px;
    text-align: left;
    background: #222;
}

#footerIn {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}

.footerInL {
    float: left;
    overflow: hidden;
}

.footerInLLogo {
    float: left;
    width: 155px;
    vertical-align: middle;
}

.footerInL p {
    display: block;
    float: left;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    vertical-align: middle;
    margin-top: 15px;
    width: 100%;
}

#footer address {
    clear: both;
    padding: 0px 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    color: #959393;
}
