@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=vietnamese);
@import "../../../node_modules/bulma/sass/utilities/initial-variables";

$blue: #72d0eb;
$pink: #ffb3b3;
$pink-invert: #fff;
$family-serif: "Open Sans", "Arial", serif;

$primary: $pink;
$primary-invert: $pink-invert;
$danger: $orange;
$family-primary: $family-serif;
